<p>Find me in app/views/users/edit.html.erb</p>

<h1> You are logged in as <%= current_user.email %>, a <%= current_user.role %>.</h1>

<%= link_to "Listings page", listings_path %>
<% if @user.avatars.empty? %>
<% else %>
<p><%= image_tag @user.avatars[0].thumb.url %></p>
<% end %>
<p>Upload your profile picture here</p>

  <%= form_for @user do |form| %>
  <%= form.file_field :avatars, multiple: true %>
      <%= form.submit %>
  <% end %>

<p> Convert your role here</p>
  <%= form_for @user do |form| %>
  	<% if current_user.role == "tenant" %>
    	<div class="submit-field">
    	  <%= form.submit "I am a landlord." %>
    	</div>
   	<% elsif current_user.role == "landlord" %>
    	<div class="submit-field">
      	  <%= form.submit "I am a tenant." %>
    	</div>
    <% end %>
   <% end %>