<h1>You are in search</h1>


<%= form_for @search do |form| %>
    <%= render partial: '/search/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
    <% end %>


<% if @listings %>
<%= flash[:notice] %>
 <table class="table">
	<thead>
		<th>Address</th>
		<th>Location</th>
		<th>Price</th>
		<th>Listed By</th>
		<th>Description</th>
		<th>Amenities</th>
		<th></th>
	</thead>
	<tbody>
    <% @listings.each do |listing| %>
		<tr>
			<td> <%= listing.address %></td>
			<td> <%= listing.location %></td>
			<td> <%= listing.price %></td>
			<td> <%= listing.user.email %></td>
			<td> <%= listing.description %></td>
			<td> <%= listing.display_amenities%></td>
			<td> <%= link_to "View", listing_path(id: listing.id) %></td>
		</tr>
    <% end %>
	</tbody>
</table>
<%= will_paginate @listings %>
<% end %>

