<p>Find me in app/views/listings/edit.html.erb</p>

<%= link_to "Listings page", listings_path %>

<h1> Edit your listing here</h1>
  <%= form_for @listing do |form| %>
  	<div class="text-field">
 	 <%= form.label :address %>
  	 <%= form.text_field :address %>
	</div>

	<div class="text-field">
 	 <%= form.label :location %>
 	 <%= form.text_field :location %>
	</div>

	<div class="number-field">
 	 <%= form.label :price %>
 	 <%= form.number_field :price %>
	</div>

	<div class="text-field">
 	 <%= form.label :description %>
 	 <%= form.text_field :description %>
	</div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>