<h1>Listings</h1>
<p>Find me in app/views/listings/index.html.erb</p>

  <p>You are logged in as a <%= current_user.role %>.</p>

<% if current_user.role == "landlord" %>
<%= link_to "Create a New Listing", new_listing_path %>
<% end %>
<%= link_to "Profile", edit_user_path(current_user.id) %>

<table class="table">
	<thead>
		<th>Address</th>
		<th>Location</th>
		<th>Price</th>
		<th>Listed By</th>
		<th>Description</th>
		<th></th>
	</thead>
	<tbody>
    <% @listings.each do |listing| %>
		<tr>
			<td> <%= listing.address %></td>
			<td> <%= listing.location %></td>
			<td> <%= listing.price %></td>
			<td> <%= listing.user.email %></td>
			<td> <%= listing.description %></td>
			<td> <%= link_to "View", listing_path(id: listing.id) %></td>
		</tr>
    <% end %>
	</tbody>
</table>

<%= will_paginate @listings %>