<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>

<table class="table">
	<thead>
		<th>Address</th>
		<th>Location</th>
		<th>Price</th>
		<th>Listed By</th>
		<th>Description</th>
	</thead>
	<tbody>
    <% @listings.each do |listing| %>
		<tr>
			<td> <%= listing.address %></td>
			<td> <%= listing.location %></td>
			<td> <%= listing.price %></td>
			<td> <%= listing.user.email %></td>
			<td> <%= listing.description %></td>
		</tr>
    <% end %>
	</tbody>
</table>

<%= will_paginate @listings %>