
<p>Find me in app/views/listings/show.html.erb</p>

<%= link_to "Listings page", listings_path %>

<table>
	<thead>
		<th>Address</th>
		<th>Location</th>
		<th>Price</th>
		<th>Listed By</th>
		<th>Description</th>
		<th>Amenities</th>
	</thead>
	<tbody>
	<tr>
			<td> <%= @listing.address %></td>
			<td> <%= @listing.location %></td>
			<td> <%= @listing.price %></td>
			<td> <%= @listing.user.email %></td>
			<td> <%= @listing.description %></td>
			<td> <%= wifi_icon %><%= @listing.kettle %><%= washing_machine_icon %><%=microwave_icon %><%=utensils_icon %></td>
			<% if current_user.role == "landlord" %>
			<td> <%= link_to "Edit", edit_listing_path %></td>
			<td> <%= link_to "Delete", listing_path(@listing.id), method: :delete %></td>
			<% end %>
	</tr>
	</tbody>
</table>